QAUTO1_BASE_URL=https://qauto.forstudy.space/
QAUTO2_BASE_URL=https://qauto2.forstudy.space/
HTTP_CREDENTIALS_USERNAME=your_username
HTTP_CREDENTIALS_PASSWORD=your_password
QAUTO1_API_USER_EMAIL=your_qauto1_email
QAUTO1_API_USER_PASSWORD=your_qauto1_password
QAUTO2_API_USER_EMAIL=your_qauto2_email
QAUTO2_API_USER_PASSWORD=your_qauto2_password
